@import url('https://fonts.googleapis.com/css?family=Zain&display=swap');

@media (min-width: 1000px) {
    :root {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    :root {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    :root {
        font-size: 10px;
    }
}

:root {
    --cool-color: rgb(255, 128, 128);
    font-family: Zain;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-decor {
    position: absolute;
    top: -30vh;
    left: -150px;
    right: 0;
    z-index: -1;
    min-width: 130vw;
    min-height: 100vh;
    transform: rotateZ(170deg);
    
    background-color: var(--cool-color);
}

header {
    display: grid;
    font-size: 2.1rem;
}

.pfp-and-name {
    background-image: url("./img/Maui.jpg");
    background-position: right;
    background-size: cover;
    color: white;
    font-size: 3.5rem;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
}

.about-me-info { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, .65);
}

@media (min-width: 1000px) {

    header {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 3rem 1fr 3rem;
        max-width: 80vw;
        height: 80vh;
        margin: 100px 0px 100px 0px;
    }

    .about-me-info {
        grid-row: 2;
        padding: 0px 30px;
    }

    .pfp-and-name {
        grid-column: 1;
        grid-row: 1/-1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .about-me {
        margin-top: 25px;
    }

    .header-icon {
        height: 65px;
        width: auto;
    }

    .contact-icons {
        margin: 0px 25px 30px 0;
    }

}

img {
    height: 50px;
    width: 50px;
}