@import url("https://fonts.googleapis.com/css?family=Tinos&display=swap");

/* Changing font sizes depending on screen */

@media (min-width: 1000px) {
    :root {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    :root {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    :root {
        font-size: 10px;
    }
}

/* Colors and font */

:root {
    --cool-color: rgb(255, 128, 128);
    font-family: Tinos;
}

/* Main, reusable layout */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-decor {
    position: absolute;
    top: -30vh;
    left: -150px;
    right: 0;
    z-index: -1;
    min-width: 150vw;
    min-height: 100vh;
    transform: rotateZ(170deg);

    background-color: var(--cool-color);
}

header {
    display: grid;
    font-size: 2.1rem;
}

.pfp-and-name {
    background-image: url("./img/Maui.jpg");
    background-position: right;
    background-size: cover;
    color: white;
    font-size: 3.5rem;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
}

.about-me-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.65);
}

.about-paragraph {
    font-size: 1.5rem;
}

.projects-showcase {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 400px));
    column-gap: 2rem;
    row-gap: 2.5rem;
    margin: 3rem 0rem;
}

.projects-showcase-title {
    font-size: 2.5rem;
    grid-column: 1/-1;
    grid-row: 1;
}

.project-card {
    max-height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    border-radius: 2rem;
    overflow: clip;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.7);
    transition: all .25s ease-in;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.45);;
}

.project-image-frame {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.project-screenshot {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr;
    row-gap: .75rem;
    padding: .2rem .5rem;
}

.project-name {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.35rem;
}

.project-links {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    justify-content: flex-end;
    padding-right: 1rem;
    gap: 1rem;
}

.project-links img {
    width: 1.75rem;
    height: auto;
}

.project-description {
    grid-column: 1/-1;
    grid-row: 2;
    font-size: .95rem;
    padding: 0 .25rem;
}

footer {
    background-color: var(--cool-color);
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* Footer section */

.footer-wrap {
    width: 80%;
    display: flex;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.phone-contact {
    display: flex;
    gap: .5rem;
}

.email-contact {
    display: flex;
    gap: .65rem;
}

.link-contacts {
    display: flex;
    justify-content: flex-start;
    gap: 1.35rem;
}

.contact-icon {
    width: 1.75rem;
    height: auto;
}

.footer-icon {
    width: 2.35rem;
    height: auto;
}



/* For screens over 1000px, desktop */

@media (min-width: 1000px) {
    header {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 3rem 1fr 3rem;
        max-width: 80vw;
        height: 80vh;
        margin: 100px 0px 100px 0px;
    }

    .about-me-info {
        grid-row: 2;
        padding: 0px 30px;
    }

    .pfp-and-name {
        grid-column: 1;
        grid-row: 1/-1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .about-me {
        margin-top: 25px;
    }

    .header-icon {
        height: 65px;
        width: auto;
    }

    .contact-icons {
        margin: 0px 25px 30px 0;
    }

    .projects-showcase {
        max-width: calc(75% + 250px);
    }

    .contact-info {
        width: 70%;
        margin: 0 auto;
        gap: .75rem;
    }

    footer {
        padding: 2rem 3rem;
    }

    .footer-wrap {
        gap: 1rem;
    }

    .footer-image {
        max-width: 500px;
        height: auto;
    }

}

 @media (max-width: 999px) {
    header {
        margin: 3rem auto;
        grid-template-columns: 43vw 43vw;
        grid-template-rows: repeat(4, calc(86vw / 4));
    }

    .pfp-and-name {
        grid-column: 1;
        grid-row: 1/4;
        display: flex;
        align-items: flex-start;
        overflow: visible;
        z-index: 1;
    }

    .pfp-and-name > span {
        transform: translateX(10rem) translateY(2.25rem);
        white-space: nowrap;
        font-size: 4rem;
    }

    .about-me-info {
        margin: 0 2rem;
        grid-column: 1/-1;
        grid-row: 2/-1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
    }

    .about-me {
        grid-column: 2;
        grid-row: 1;
        font-size: 2.5rem;
        color: black;
    }

    .about-paragraph {
        grid-column: ;
    }

    .contact-icons {
        display: none;
    }
 }


